@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  margin: 0;
}

h1,
h2 {
  color: #333;
}
h2 {
  margin-top: 1em;
  padding-top: 1em;
  color: black;
  font-weight: 400;
}

header {
  font-family: "Roboto", "Georgia", "Arial", sans-serif;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  text-align: center;
  background-image: url(images/sky.jpg);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 15vw 2em;
  display: block;
}

header a {
  color: white;
  text-decoration: none;
  border: 1px solid #e81c4f;
  padding: 10px;
  font-weight: 100;
  border-radius: 10px;
}

header a:hover {
  background-color: #e81c4f;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header img {
  vertical-align: top;
  display: inline-block;
  width: 70px;
  border-radius: 35px;
  border: 2px solid white
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

a {
  color: #e81c4f;
}

#allstuf {

  font-family: "Roboto", "Georgia", "Arial", sans-serif;
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
  color: #566b78;
}
